.example-card {
  width: 65%;
  margin-bottom: 10%;
}
.main-container {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}
.buttons{
 display: flex;
 align-items: center;
 justify-content: space-evenly; 
}