<div class="container">
  <form class="example-form" #myForm="ngForm">
    <mat-form-field class="example-full-width">
      <textarea
        name="name"
        matInput
        placeholder="Name"
        [(ngModel)]="this.currentPerson.name"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea
        name="email"
        matInput
        placeholder="Email"
        [(ngModel)]="this.currentPerson.email"
      ></textarea>
    </mat-form-field>
    <button (click)="update(myForm)" mat-raised-button color="primary">
      Update
    </button>
  </form>
</div>
