<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{tempProduct.title}}</mat-card-title>
      <mat-card-subtitle>{{tempProduct.price}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{tempProduct.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Add</button>
      <button mat-button>Remove</button>
    </mat-card-actions>
  </mat-card>
  